<%= render 'shared/navbar' %>
<div class="container marg">
  <div class="row">
    <div class="col-12"><h2><%= @cocktail.name %></h2></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 show-cocktail" style="width: 300px">
      <% if @cocktail.photo.attached? %>
      <% image_url = cloudinary_url(@cocktail.photo.key) %>
      <% else %>
      <% image_url = 'https://source.unsplash.com/collection/962396/1600x900/?' + @cocktail.name.gsub(" ", "%30") %>
      <% end %>
      <%= cl_image_tag image_url, width: 230, height: 200, crop: :fill %>
    </div>
    <div class="col-12 col-md-4 col-lg-3 show-cocktail">
      <ul class="show-cocktail">
        <% @cocktail.doses.each do |dose| %>
        <li class="show-cocktail"><%= dose.description %> <%= dose.ingredient.name %></li>
        <% end %>
        </ul>
      <br>
      <%= render('form') if current_user && (current_user == @cocktail.user || current_user.admin?) %>

    </div>
  </div>
</div>


