<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon navbar-fixed-top align-items-center">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <%= image_tag 'logo_small.png' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-space-between pt-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item nav-link-color">
          <%= link_to "Create", new_cocktail_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= simple_form_for(SearchForm.new, url: cocktails_path, method: :get) do |f| %>
          <%= f.input :search_term, label: false, :input_html => { :class => 'search_field-top mt-0' }, placeholder: 'Search', :wrapper_html => { :class => 'mb-0'} %>
          <%= f.submit :style => "display: none;" %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
